<!doctype html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>Dashboard</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary py-4">

            <div class="container">

                <a class="navbar-brand" href="/">Social Media Dashboard</a>

            </div>

        </nav>

        <div class="container">

            <h2 class="py-4">Summary</h2>
            <h4 class="py-2 text-muted">{{ range }}</h4>

            <div class="row">

                <div class="col-sm-3">

                    <div class="card">

                        <div class="card-body">
                            <h5 class="card-title text-muted">Total Tweets</h5>
                            <h1 class="card-subtitle mb-2">{{ totalTweets }}</h1>
                        </div>

                    </div>

                </div>

                <div class="col-sm-3">

                    <div class="card">

                        <div class="card-body">
                            <h5 class="card-title text-muted">Positive Tweets</h5>
                            <h1 class="card-subtitle mb-2">{{ totalPositiveTweets }}</h1>
                        </div>

                    </div>

                </div>

                <div class="col-sm-3">

                    <div class="card">

                        <div class="card-body">
                            <h5 class="card-title text-muted">Negative Tweets</h5>
                            <h1 class="card-subtitle mb-2">{{ totalNegativeTweets }}</h1>
                        </div>

                    </div>

                </div>

                <div class="col-sm-3">

                    <div class="card">

                        <div class="card-body">
                            <h5 class="card-title text-muted">Avg. Positive Tweets</h5>
                            <h1 class="card-subtitle mb-2">{{ averageSentiment }}</h1>
                        </div>

                    </div>

                </div>

            </div>

            <br>

            <h2 class="py-4">Trends</h2>

            <canvas id="myChart" width="400" height="200"></canvas>

        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

        <script>

            var ctx = document.getElementById('myChart').getContext('2d');

            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{ dailyLabels|tojson }},
                    datasets: [{
                        label: '% of Positive Tweets',
                        data: {{ dailyValues }},
                        borderWidth: 1,
                        fill: false,
                        backgroundColor: 'rgba(10, 174, 65, 1)',
                        borderColor: 'rgba(10, 174, 65, 1)'
                    },
                    {
                        label: '% of Negative Tweets',
                        data: {{ dailyValues2 }},
                        borderWidth: 1,
                        fill: false,
                        backgroundColor: 'rgba(174, 10, 10, 1)',
                        borderColor: 'rgba(174, 10, 10, 1)'
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

        </script>

    </body>

</html>